body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  text-align: center;
  font-size: 10px;
}

nav {
 text-align: center;
}
a {
  display: inline-block;
  padding: 10px;
  background-color: gray;
}
#featured-property p{
 width:800px; 
 text-align:center;
 margin:0 auto;
}

#details {
  display: block;

}
#details div{
  float:left;
  padding 15px;
  background: red;
  width: 25%;
}






